
.categoriaspages {
    display: flex;
    background-color: rgb(237, 209, 240);
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.inferiores {
    @extend .margen;
    &__foto {
    width: 600px;
    height: 500px;
    }   
}


.superiores {
    @extend .margen;
    
    &__foto {
        width: 600px;
        height: 500px;
    }
}

// &__foto {
//     width: 600px;
//     height: 500px;
// }

.enteros {
    @extend .margen;
    &__foto {
        width: 600px;
        height: 500px;
    }
    // margin: 30px 30px 30px 30px;
}
// &__foto {
//     width: 600px;
//     height: 500px;
// }
.cremas {
    @extend .margen;
    &__foto {
        width: 600px;
        height: 500px;
    }
    // margin: 30px 30px 30px 30px;
}

// &__foto {
//     width: 600px;
//     height: 500px;
// }

