
.categoriaspages {
    display: flex;
    background-color: rgb(237, 209, 240);
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.inferiores {
    @extend .margen;
//    margin: 30px 30px 30px 30px;
   
}

&__foto {
    width: 600px;
    height: 500px;
}

.superiores {
    @extend .margen
    // margin: 30px 30px 30px 30px;
   
}

&__foto {
    width: 600px;
    height: 500px;
}

.enteros {
    @extend .margen;
    // margin: 30px 30px 30px 30px;
}
&__foto {
    width: 600px;
    height: 500px;
}
.cremas {
    @extend .margen;
    // margin: 30px 30px 30px 30px;
}

&__foto {
    width: 600px;
    height: 500px;
}

